@import '../../stylus/_variables';

.header
  .example-spacer
    flex 1 1 auto

  button
    margin 0.5rem

.mobile-menu
  display $flex
  flex-direction $column

  button
    margin: 0.5rem
