font-face(url, fontWeight)
  @font-face
    font-family 'Heebo'
    src url(url)
    font-weight fontWeight

profile-backdrop()
  .profile-dialog
    .username
      display $flex
      align-items $center
      margin 0.5rem 0
      div
        display $flex
        align-items $center
        .mat-icon
          cursor $pointer

  .profile-backdrop
    background rgba(0, 0, 0, 0.9)

drop-menus()
  .mat-menu-header
    @media (min-width 600px)
      display $none

    .mobile-menu
      display $flex
      flex-direction $column

    button
      margin 0.5rem

  .photos-menu
    display $flex
    flex-direction $column
    width 170px

    div
      display $flex
      align-items $center
      cursor $pointer
      margin 0.5rem
      &:hover
        filter opacity(0.5);
