<h1 mat-dialog-title>Your Profile</h1>
<ng-container *ngIf="!isLoading; else spinner">
  <div mat-dialog-content>
    <p>Email: <strong>{{ userData?.email }}</strong></p>

    <div class="username">
      <p>Username:</p>

      <div *ngIf="!isEdit">
        <strong>{{ userData?.username }}</strong>
        <mat-icon (click)="isEditHandler()">edit</mat-icon>
      </div>

      <div *ngIf="isEdit">
        <mat-form-field>
          <input matInput [(ngModel)]="inputVal" (keyup.enter)="editUsernameHandler()">
        </mat-form-field>
        <mat-icon (click)="isEdit = false">close</mat-icon>
      </div>
    </div>

    <p>Created: <strong>{{ userData?.createdAt | date: 'MMM dd, YYYY' }}</strong></p>
  </div>
</ng-container>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button mat-dialog-close color="accent" (click)="deleteAccount()">Delete Account</button>
</div>
