.register
  text-align center

  .register-form
    display flex
    flex-direction column
    padding 2rem 0

  .go-login
    text-decoration underline
    outline none
    cursor pointer
