.login-signup
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background white
  padding 2rem
  box-shadow 3px 3px 10px 0 rgba(66, 82, 110, 0.75)
  border-radius 8px
  width 20%

form
  padding 2rem 0

  mat-form-field
    width 100%

  p
    color red
    margin-top -1rem
    font-size 0.8em
    text-align left
    font-weight bold

.go
  outline none
  font-weight bold
  &:hover
    text-decoration underline
    cursor pointer
