.signup
  text-align center

  .signup-form
    display flex
    flex-direction column
    padding 2rem 0

    .validation-text
      color red
      margin-top -1rem
      font-size 0.8em
      text-align left
      font-weight bold

  .go-login
    text-decoration underline
    outline none
    cursor pointer
