<ng-container>
  <p><strong>Log in</strong> to continue</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div *ngFor="let input of inputsConfig | slice: 1:3">
      <mat-form-field>
        <mat-label>{{ input.label }}</mat-label>
        <input matInput [type]="input.type" [formControlName]="input.controlName" required />
      </mat-form-field>

      <p *ngIf="authService.validation(input.controlName, loginForm)">{{ input.validationText }}</p>
    </div>

    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p class="go" [routerLink]="['/signup']">Don't have account?</p>
</ng-container>
