<section class="photos">
  <h1>27 Nov 2020</h1>

  <div>
    <img *ngFor="let photo of photos; let i = index" [src]="photo" (click)="isShowSliderHandler(i)" />
  </div>

  <div class="backdrop" *ngIf="isShowSlider">
    <mat-icon class="close" (click)="isShowSlider = false">close</mat-icon>

    <swiper [slidesPerView]="1" [navigation]="true" [simulateTouch]="false" [initialSlide]="imageIndex">
      <ng-template *ngFor="let photo of photos" swiperSlide>
        <img [src]="photo" />
      </ng-template>
    </swiper>
  </div>
</section>
