<section class="photos">
  <div class="is-select-photos" *ngIf="isSelect">
    <button mat-raised-button color="warn" (click)="isSelect = false">
      CANCEL
    </button>

    <button mat-raised-button color="primary" (click)="downloadSelected()">
      DOWNLOAD SELECTED
    </button>

    <button mat-raised-button color="warn" (click)="deleteSelected()">
      DELETE SELECTED
    </button>
  </div>

  <h1>27 Nov 2020</h1>

  <div class="photos__list">
    <ng-container *ngIf="!isLoading; else loadingSpinner">
      <div *ngFor="let photo of photos; let i = index" class="photo">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" *ngIf="!isSelect">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #dropMenu="matMenu">
          <div class="photos-menu">
            <div (click)="isSelect = true">
              <mat-icon>select_all</mat-icon>
              Select
            </div>

            <div (click)="download(photo.src)">
              <mat-icon>download</mat-icon>
              Download
            </div>

            <div (click)="deletePhoto(photo._id)">
              <mat-icon>delete</mat-icon>
              Delete
            </div>
          </div>
        </mat-menu>

        <img [src]="photo.src" [ngClass]="{'is-select': isSelect}" (click)="isShowSliderHandler(i)" />
        <input type="checkbox" class="select-checkbox" (change)="selectCheckbox(photo._id, i)" *ngIf="isSelect">
      </div>
    </ng-container>
    <ng-template #loadingSpinner>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>

  <div class="backdrop" *ngIf="isShowSlider && !isSelect">
    <mat-icon class="close" (click)="isShowSlider = false">close</mat-icon>

    <swiper [slidesPerView]="1" [navigation]="true" [simulateTouch]="false" [initialSlide]="photoIndex">
      <ng-template *ngFor="let photo of photos" swiperSlide>
        <img [src]="photo.src" />
      </ng-template>
    </swiper>
  </div>
</section>
