@import '../../stylus/_variables';

.photos
  display $flex
  flex-direction: $column
  flex-wrap $wrap
  padding 2rem

  & > h1
    @media (max-width 700px)
      text-align $center

  &__list
    display $flex

    @media (max-width 700px)
      display $flex
      justify-content $center
      flex-wrap $wrap

    .photo
      button
        position relative
        top 30%
        color white

      img
        display block
        width $size100percent
        max-width 150px
        height 120px
        border-radius 8px
        margin 0.5rem 1rem 0 0
        cursor $pointer
        transition 0.5s

        @media (max-width 700px)
          margin 0.5rem

.backdrop
  position fixed
  z-index 1
  padding-top 9%
  left 0
  top 0
  width $size100percent
  height $size100percent
  background-color rgba(0, 0, 0, 0.9)

  .close
    position absolute
    margin-top -8%
    right 0.5%
    font-size 2em
    float right
    color white
    cursor $pointer

  img
    display $flex
    width $size100percent
    max-width 700px
    height auto
    margin 0 auto

    @media (max-width 767px)
      height 450px

    @media (max-width 480px)
      padding-top 7%

.menu
  display $flex
  flex-direction $column
  width 150px

  div
    display $flex
    align-items $center
    cursor $pointer
    margin 0.5rem

  div
    &:hover
      filter: opacity(0.5);
