@import '~swiper/swiper-bundle';
@import './app/client/stylus/_fonts';
@import './app/client/stylus/_mixins';
@import './app/client/stylus/_variables';

*
  margin 0
  padding 0
  user-select $none
  font-family 'Heebo'

body
  background #F4F7FA

p
  font-size 1.1em
  color $defaultColor

h1
  font-size 1.8em
  color $defaultColor

drop-menus()
