<mat-toolbar fxLayout="row" color="primary">
  <span>Hello <strong (click)="openProfile()" class="open-profile">{{ userData?.username }}</strong></span>
  <span style="flex: 1 1 auto"></span>

  <input type="file" (change)="uploadPhotoHandler($event)" (click)="clearFileInputValue($event)" #uploadPhoto hidden />
  <button mat-raised-button fxHide.xs (click)="chooseFile()">
    <mat-icon>add</mat-icon> Add photos
  </button>

  <button mat-raised-button color="accent" (click)="logout()" fxHide.xs>
    <mat-icon>logout</mat-icon> Log out
  </button>

  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu class="mat-menu-header" #dropMenu="matMenu">
    <div class="mobile-menu">
      <input type="file" (change)="uploadPhotoHandler($event)" (click)="clearFileInputValue($event)" #uploadPhoto hidden />
      <button mat-raised-button color="primary" (click)="chooseFile()">
        <mat-icon>add</mat-icon> Add photos
      </button>

      <button mat-raised-button color="accent" (click)="logout()">
        <mat-icon>logout</mat-icon> Log out
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
